*{
    margin:0;
    padding:0;
    font-family:'Open Sans','Heveltica','Arial';
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
body{
    background:url(../img/img_fondo_login_original.png);
}
.header{
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction:column;
    height:10vh;
}
.h1{
    color:#F3F3F3;
}
.subrayado_form_login{
    color:#1B396A;
}
.main{
    display:flex;
    justify-content:center;
    align-items:center;
    width:100vw;
    height:90vh;
}
.formulario{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    width:500px;
    height:390px;
    background:url(../img/img_fondo_formulario_sombreada.png) no-repeat center center;
    background-size: 250px;
    border-radius:10px;
    /* border:5px solid #F2F2F2; */
    border:5px solid #1B396A;
    box-shadow:#F2F2F2 1px 1px 15px;
}
.cont_img_logo_tecnm{
    display:flex;
    justify-content:center;
    
}
.img_logo_tecnm{
    width:150px;  
    margin-bottom:-50px;
}
.img_logo_itat{
    /* margin-top:50px; */
    width:70px;
    background:rgba(0,0,0,.5);
}

.contenedor_todos_inputs{
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    align-items:center;
    width:300px;
    height:200px;
}

.grupo_lbl_input{
    margin-bottom:25px;
}
.lbl_input{
    color:#F2F2F2;
    font-size:18px;
}
.contenedor_icono_input{
    display:flex;
    justify-content:center;
    height:36px;
    width:280px;
}
.input{
    height:100%;
    width:87%;
    background-color:#F3F3F3;
    border:none;
    border-top:2px solid #1B396A;
    border-right:2px solid #1B396A;
    border-bottom:2px solid #1B396A;
    outline:none;
    border-radius:0 7px 7px 0;
    padding:3px;
    font-size:17px;
}
.input:focus{
    /* border:2px solid #0070C0; */
    border:2px solid #048021;
}
.div_icono_input{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100%;
    width: 13%;
    background:#F3F3F3;
    border-radius:7px 0 0 7px;
    border-right:2px solid #000;
    border-left:2px solid #1B396A;
    border-top:2px solid #1B396A;
    border-bottom:2px solid #1B396A;
}
.contenedor_button_submit{
    margin-top:30px;
}
.btn_iniciar_sesion{
    width:240px;
    height:38px;
    border-radius:7px;
    background-color:#1B396A;
    color:#F3F3F3;
    font-size:18px;
    padding:3px;
    cursor:pointer;
    border:none;
    border:2px solid #F3F3F3;
}
.btn_iniciar_sesion:hover{
    /* background-color:#0070C0; */
    background-color:#048021;
}
.leyenda_no_tienes_cuenta{
    color:#F3F3F3;
    margin:20px;
}
.contenedor_opcion_registro{
    display:flex;
    justify-content:center;
    flex-direction:column;
    align-items:center;
}
.enlace_registro{
    text-decoration:none;
    color:#0070C0;
}
.enlace_registro:hover{
    color:#C0A900;
}
.img_icono_input{
    width:27px;
    height:27px;
}
