.cont_tabla{

}
.tabla{
    border-collapse:collapse;
    margin:0 auto;
    width:90%;
}
.cabecera_tabla{
    background-color:#1B396A;
    color:#F2F2F2;
    /* border-radius:10px 10px 0 0;
    border:1px solid #1B396A; */
}
.tdh{
    padding:7px;
    border-bottom:3px solid #048021;
    text-align:center;

}
.tdb{
    padding:7px;
    border:1px solid #000;
    background:#E8E4E4;
    text-align:center;
}
.campo_cabecera_tabla_izquierdo{
    border-radius:10px 0 0 0;
}
.campo_cabecera_tabla_derecho{
    border-radius:0 10px 0 0;
}
.fila_boton_agregar{
    padding:10px;

}
.btn_agregar_tabla{
    padding:10px 15px;
    background-color:#2B0327;
    color:#F2F2F2;
    border-radius:10px;
}
